<% provide(:title, "About") %>
<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--1-col"></div>
<div class="mdl-cell mdl-cell--10-col">
    <h2 class="mdl-typography--display-2 mdl-typography--font-thin">About</h2>
    <div class="_10l"><h6 class="_1sra">Ohajiki Tokyo is community site. We transmit "Tokyo's Now" and trend to the world.
    We provide news especially about fashion, products, useful information for all foreigners.
  Hope this information helps people who are intrested in Japan.
Thank you.</h6>
  </div>
</div>
  <div class="mdl-cell mdl-cell--1-col"></div>
</div>
