<% provide(:title, "Privacy Policy") %>
<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--1-col"></div>
  <div class="mdl-cell mdl-cell--10-col">
      <h2 class="mdl-typography--display-2 mdl-typography--font-thin">Privacy Policy</h2>
      <div class="_10l"><h6 class="_1sra"><p>LastUpdated: 2017/2/04</p></h6></div>
      <div class="_10l"><h6 class="_1sra">Ohajiki.tokyo establishes the privacy policy as follows.
  </h6></div>

  <div class="_10l"><h6 class="_1sra"><p>【Collection of Information】</p>
    <p>Information You Provide to Us</p>
  <ul>
    <li>Log Information: We log information about your use of our services, including the type of browser you use, access times, pages viewed, your IP address and the page you visited before navigating to our services.</li>
    <li>Device Information: We collect information about the computer you use to access our services, including the hardware model, and operating system and version.</li>
    <li>Location Information: We may collect information about the location of your device each time you access or use one of our mobile applications or otherwise consent to the collection of this information.</li>
    <li>Information Collected by Cookies and Other Tracking Technologies: We use various technologies to collect information, and this may include sending cookies to your computer. Cookies are small data files stored on your hard drive or in your device memory that helps us to improve our services and your experience, see which areas and features of our services are popular and count visits. We may also collect information using web beacons (also known as "tracking pixels"). Web beacons are electronic images that may be used in our services or emails and to track count visits or understand usage and campaign effectiveness.</li>
  </ul>
</div>
<div class="_10l"><h6 class="_1sra"><p>【Use of Information】</p>We use information about you for various purposes, including to
<ul>
  <li>Provide, maintain and improve our services</li>
  <li>Provide services you request and to send you related information</li>
  <li>Send you technical notices, updates, security alerts and support and administrative messages</li>
  <li>Respond to your comments, questions and requests and provide customer service</li>
  <li>Communicate with you about news and information related to our service</li>
  <li>Monitor and analyze trends, usage and activities in connection with our services</li>
  <li>Personalize and improve our services.</li>
</ul>
</div>
By accessing and using our services, you consent to the processing and transfer of your information in and to Japan and other countries.
<h6>

  <div class="_10l"><h6 class="_1sra"><p>【Sharing of Information】</p>
  We may share personal information about you as follows
  <ul>
    <li>
      With third party vendors and other service providers who need access to your information to carry out work on our behalf, such as Facebook and Google plus
    </li>
    <li>
      If we believe disclosure is reasonably necessary to comply with any applicable law, regulation, legal process or governmental request
    </li>
    <li>To enforce applicable user agreements or policies, including our <%= link_to "Terms of Use", terms_path %>; and to protect us, our users or the public from harm or illegal activities
    <li>In connection with any merger, sale of Ohajiki.tokyo assets, financing or acquisition of all or a portion of our business to another company
    </li>
    <li>If we notify you through our services (or in our privacy policy) that the information you provide will be shared in a particular manner and you provide such information.
    </li>
  </ul>
  <p>We may also share aggregated or anonymized information that does not directly identify you.
</p>
</h6>
</div>
<div class="_10l"><h6 class="_1sra"><p>【Third Party Analytics】</p>We may allow third parties to provide analytics services. These third parties may use cookies, web beacons and other technologies to collect information about your use of the services and other websites, including your IP address, web browser, pages viewed, time spent on pages, links clicked and conversion information. This information may be used by us and third parties to, among other things, analyze and track data, determine the popularity of certain content and other websites and better understand your online activity. Our privacy policy does not apply to, and we are not responsible for, third party cookies, web beacons or other tracking technologies and we encourage you to check the privacy policies of these third parties to learn more about their privacy practices.
</div>
</h6>
<div class="_10l"><h6 class="_1sra"><p>【Cookies】</p>Most web browsers are set to accept cookies by default. If you prefer, you can usually choose to set your browser to remove or reject browser cookies. Please note that if you choose to remove or reject cookies, this could affect the availability and functionality of our services.
</h6></div>
</div>
    <div class="mdl-cell mdl-cell--1-col"></div>
  </div>
