<% provide(:title, "Terms of Use") %>
<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--1-col"></div>
  <div class="mdl-cell mdl-cell--10-col">

  <h2 class="mdl-typography--display-2 mdl-typography--font-thin">Terms of Use</h2>
  <div class="_10l"><h6 class="_1sra"><p>Last Updated: 2017/02/04</p></h6></div>
  <div class="_10l"><h6 class="_1sra"><p>【Accepting Terms】</P>If you access or use the Service, it means you agree to be bound by all of the terms below. So, before you use the Service, please read all of the terms. If you don't agree to all of the terms below, please do not use the Service.</h6></div>
    <div class="_10l"><h6 class="_1sra"><p>【Privacy Policy】</p>For information about how we collect and use information about users of the Service, please check out our <a href= "#">privacy policy</a>. </h6></div>
      <div class="_10l"><h6 class="_1sra"><p>【Third-Party Services】</P>From time to time, we may provide you with links to third party websites or services that we do not own or control. Your use of the Service may also include the use of applications that are developed or owned by a third party. Your use of such third party applications, websites, and services is governed by that party's own terms of service or privacy policies. We encourage you to read the terms and conditions and privacy policy of any third party application, website or service that you visit or use.
</h6></div>
      <div class="_10l"><h6 class="_1sra"><p>【Content&Contact】</p>Our Service allows you and other users to post, link and otherwise make available content. You are responsible for the content that you make available to the Service, including its legality, reliability, and appropriateness.

When you post, link or otherwise make available content to the Service, you grant us the right and license to use, reproduce, modify, publicly perform, publicly display and distribute your content on or through the Service. We may format your content for display throughout the Service, but we will not edit or revise the substance of your content itself.

Aside from our limited right to your content, you retain all of your rights to the content you post, link and otherwise make available on or through the Service.

You may not post, link and otherwise make available on or through the Service any of the following</h6>
<ul>
<li>Content that is libelous, defamatory, bigoted, fraudulent or deceptive</li>
<li>Content that is illegal or unlawful, that would otherwise create liability</li>
<li>Content that may infringe or violate any patent, trademark, trade secret, copyright, right of privacy, right of publicity or other intellectual or other right of any party</li>
<li>Mass or repeated promotions, political campaigning or commercial messages directed at users who do not follow you (SPAM)</li>
<li>Private information of any third party (e.g., addresses, phone numbers, email addresses, Social Security numbers and credit card numbers)</li>
<li>Viruses, corrupted data or other harmful, disruptive or destructive files or code.
</li>
</ul>
</div>
<div class="_10l"><h6 class="_1sra">Also, you agree that you will not do any of the following in connection with the Service or other users
</h6>
<ul>
<li>Use the Service in any manner that could interfere with, disrupt, negatively affect or inhibit other users from fully enjoying the Service or that could damage, disable, overburden or impair the functioning of the Service</li>
<li>Impersonate or post on behalf of any person or entity or otherwise misrepresent your affiliation with a person or entity</li>
<li>Collect any personal information about other users, or intimidate, threaten, stalk or otherwise harass other users of the Service</li>
<li>Create an account or post any content if you are not over 13 years of age years of age</li>
<li>Circumvent or attempt to circumvent any filtering, security measures, rate limits or other features designed to protect the Service, users of the Service, or third parties.
</li>
</ul>
</div>
<div class="_10l"><h6 class="_1sra"><p>【Hyperlinks and Third Party Content】</p>You may create a hyperlink to the Service. But, you may not use, frame or utilize framing techniques to enclose any of our trademarks, logos or other proprietary information without our express written consent.

Ohajiki.tokyo makes no claim or representation regarding, and accepts no responsibility for third party websites accessible by hyperlink from the Service or websites linking to the Service. When you leave the Service, you should be aware that these Terms and our policies no longer govern.

If there is any content on the Service from you and others, we don't review, verify or authenticate it, and it may include inaccuracies or false information. We make no representations, warranties, or guarantees relating to the quality, suitability, truth, accuracy or completeness of any content contained in the Service. You acknowledge sole responsibility for and assume all risk arising from your use of or reliance on any content.
</div>
<div class="_10l"><h6 class="_1sra"><p>【Unavoidable Legal Stuff】</p>The service and any other service and content included on or otherwise made available to you through the service are provided to you on an as is or as available basis without any representations or warranties of any kind. We disclaim any and all warranties and representations (express or implied, oral or written) with respect to the service and content included on or otherwise made available to you through the service whether alleged to arise by operation of law, by reason of custom or usage in the trade, by course of dealing or otherwise. in no event will ohajiki.tokyo.
  Be liable to you or any third party for any special, indirect, incidental, exemplary or consequential damages of any kind arising out of or in connection with the service or any other service and/or content included on or otherwise made available to you through the service, regardless of the form of action, whether in contract, tort, strict liability or otherwise, even if we have been advised of the possibility of such damages or are aware of the possibility of such damages. our total liability for all causes of action and under all theories of liability will be limited to the amount you paid to ohajiki.tokyo. This section will be given full effect even if any remedy specified in this agreement is deemed to have failed of its essential purpose.</p>
</div>
<div class="_10l"><h6 class="_1sra"><p>You agree to defend, indemnify and hold us harmless from and against any and all costs, damages, liabilities, and expenses (including attorneys' fees, costs, penalties, interest and disbursements) we incur in relation to, arising from, or for the purpose of avoiding, any claim or demand from a third party relating to your use of the Service or the use of the Service by any person using your account, including any claim that your use of the Service violates any applicable law or regulation, or the rights of any third party, and/or your violation of these Terms.</p>
</div>
<div class="_10l"><h6 class="_1sra"><p>【Termination】</p>If you breach any of these Terms, we have the right to suspend or disable your access to or use of the Service.
</div>
<div class="_10l"><h6 class="_1sra"><p>【Entire Agreement】</p>These Terms constitute the entire agreement between you and ohajiki.tokyo regarding the use of the Service, superseding any prior agreements between you and ohajiki.tokyo relating to your use of the Service.</h6>
</div>
<div class="_10l"><h6 class="_1sra"><p>【Contact Information】</p>Questions or comments about the Service may be directed to us at the email address info@ohajiki.tokyo</h6>
</div>
<div class="mdl-cell mdl-cell--1-col"></div>
</div>
</div>
