<div class="warn" style="text-align: center; padding: 100px">
<h3>404 PAGE IS NOT FOUND!!</h3>
<p><i style="font-size: 5em" class="fa fa-meh-o" aria-hidden="true"></i></p>
<p>Sorry, requested URL/Page doesn't exist</p>
Go Back To <%= link_to "TOP", root_path %>
</div>