<div class="warn" style="text-align: center; padding: 100px">
<h3>500 Internak Server Error</h3>
<p><i style="font-size: 5em" class="fa fa-meh-o" aria-hidden="true"></i></p>
<p>Sorry, something went wrong. </p>
<p>Please try again little later.</p>
Go Back To <%= link_to "TOP", root_path %>
</div>