<%= form_tag(@post, class: 'dropzone', id: 'upload-dropzone') do %>
<div class= "dz-message needsclick">
<h3>Drop file here</h3> or 
<strong>click</strong> to upload
</div>
  <div class="fallback">
    <%= file_field_tag('post[picture]') %>
  </div>
<% end %>
