<div class="mdl-grid sns_share socialWrap">
      <div class="mdl-cell mdl-cell--4-col mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect sns_share-btn sns_share_facebook"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=<%= request.url %>"><i class="fa fa-facebook" aria-hidden="true"></i>Share with
facebook</a>
      </div>
      <div class="mdl-cell mdl-cell--4-col mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect sns_share-btn sns_share_twitter"><a target="_blank" href="https://twitter.com/share?url=<%= request.url %>"><i class="fa fa-twitter-square" aria-hidden="true"></i>Share with
twitter</a>
      </div>
      <div class="mdl-cell mdl-cell--4-col mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect sns_share-btn sns_share_googleplus"><a target="_blank" href="https://plus.google.com/share?url=<%= request.url %>"><i class="fa fa-google-plus-official" aria-hidden="true"></i>Share with
google+</a>
      </div>
</div>