<footer class="ohajiki-footer mdl-mega-footer">
    <div class="mdl-mega-footer--top-section">
        <div class="mdl-mega-footer--left-section">
            <button class="mdl-mega-footer--social-btn"><a href="https://twitter.com/ohajiki_tokyo"><i class="fa fa-twitter" aria-hidden="true"></i>
</a>
            </button>
            &nbsp;
            <button class="mdl-mega-footer--social-btn"><a href="https://www.facebook.com/ohajiki.tokyo/"><i class="fa fa-facebook" aria-hidden="true"></i>
</a>
            </button>
        </div>
        <div class="mdl-mega-footer--right-section">
            <a class="mdl-typography--font-light" href="#top">
                Back to Top
                <i class="material-icons">expand_less</i>
              </a>
        </div>
    </div>

    <div class="mdl-mega-footer--middle-section">
        <p class="mdl-typography--font-light">Copyright (C) 2017 ohajiki.tokyo. All Rights Reserved.</p>
        <p class="mdl-typography--font-light">Some features and devices may not be available in all areas</p>
    </div>

    <div class="mdl-mega-footer--bottom-section">
      <%= link_to "Privacy policy", privacy_path, class: 'ohajiki-link mdl-typography--font-light' %>
      <%= link_to "Terms of use", terms_path, class: 'ohajiki-link mdl-typography--font-light' %>
    </div>

</footer>
